// Colours
$bodyColour: #000;
$headingColour: darken($bodyColour, 5%);
$linkColour: lighten($bodyColour, 10%);
$hoverColour: lighten($linkColour, 20%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #EDEAE5;
$codeBackgroundColour: darken($backgroundColour, 5%);
$headerBarColor: #EDEAE5;
//#7dce94;
//darken($backgroundColour, 5%)
