// Structural elements
body {
  background: $backgroundColour;
  color: $bodyColour;
  height: 100%;
  display: flex;
  @include flex-direction(column);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}


// Header, feature and footer
.header,
.footer {
  .container {
    padding: 1rem 0;
    border-bottom: 2px solid $bodyColour;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    text-align: center;
  }
  @include breakpoint(break-1) {
    .container {
      @include flex-direction(row);
      @include justify-content(space-between);
      text-align: inherit;
    }
  }
}

.header {
  @include flex(0, 0, auto);
  background: $headerBarColor;

}

.logo {
  display: inline-block;
  line-height: 0;
  border-radius: 100%;
  overflow: hidden;
  img {
    width: 4rem;
    height: 4rem;
  }
}

.small {
  padding-top: .6rem;
  color: $captionColour;
  display: inline-block;
}

.footer {
  //border-top: 1px solid darken($backgroundColour, 15%);
}


// Nav and copyright
.nav {
  &--paginator {
    @include flexbox;
    @include justify-content(center);
    color: $backgroundColour;
    text-align: center;
  }
}

.pagination {
  margin: 0 1rem;
}


// Main content
.main {
  @include flexbox;
  @include flex-direction(column);
  @include flex(1, 0, auto);
  margin-bottom: 1.6rem;
  @include breakpoint(break-1) {
    @include flex-direction(row);
  }
}


// Lists
.list {
  &--posts {
    list-style: none;
  }
  &--nav {
    list-style: none;
  }
  .item--post {
    margin-left: 0;
  }
}

.item {
  &--nav {
    display: inline-block;
    //margin-left: 1rem;
    border-left: 2px solid #000;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    //border-color: $bodyColour;
    &:first-of-type {
      margin-left: 0;
    }
    a {
      text-align: center;
      color: $linkColour;
    }
  }
  &--current {
    a {
      color: darken($linkColour, 15%);
    }
  }
}


// Images and media elements
img {
  //width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  //border: 1px solid $headingColour;
  //object-fit: cover;

}

audio,
video {
  width: 100%;

}

.homepage-image {
  //@include flex(0, 0, auto);
  max-width: 100%;
  background-size: auto;
}

// Text selection
::selection {
  background: $headingColour;
  color: $white;
  text-shadow: none;
}


// Sassline overrides
.typeset {
  a > code {
    text-shadow: none;
  }
  .button,
  button {
    background-image: none;
    text-shadow: none;
    color: $backgroundColour;
    &:hover,
    &:active,
    &:focus {
      background-image: none;
      color: $backgroundColour;
    }
  }
  hr {
    width: 100%;
  }
  .nav a {
    padding-left: 0;
    padding-right: 0;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  pre {
    white-space: pre;
    overflow-x: scroll;
  }
}

/*! Typebase.less v0.1.0 | MIT License */

html {
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased
}

p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0
}

ol,
ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

ol li,
ul li {
  line-height: 1.5rem
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem
}

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem
}

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem
}

h3 {
  font-size: 1.414rem
}

h4 {
  font-size: .707rem
}

h5 {
  font-size: .4713333333333333rem
}

h6 {
  font-size: .3535rem
}

table {
  margin-top: 1.5rem;
  border-spacing: 0;
  border-collapse: collapse
}

table td,
table th {
  padding: 0;
  line-height: 33px
}

code {
  vertical-align: bottom
}

.lead {
  font-size: 1.414rem
}

.hug {
  margin-top: 0
}

@media (prefers-color-scheme:dark) {
  html {
    filter: invert(.8)
  }
  img {
    opacity: .5;
    transition: opacity .5s ease-in-out
  }
  img:hover {
    opacity: 1
  }
}
body {
  background-color: #fdfcfb;
  color: #3a3a3a!important
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, .05)
}

header>a {
  text-decoration: none
}

header>a>h1 {
  font-size: .75rem;
  line-height: 3rem;
  margin: 0;
  margin-bottom: -.5rem;
  font-weight: 400
}

a {
  color: #000
}

pre {
  background: #f3f3f3;
  padding: 15px
}

code {
  background: #f3f3f3
}

h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, .45);
}

h1 {
  font-size: 2.142rem;
  line-height: 2.8rem;
  margin-top: 1.5rem;
}

h2 {
  font-size: 1.828rem;
  line-height: 2rem;
  margin-top: 2rem;
  font-weight: 700
}

.main,
article,
footer,
header {
  max-width: 850px;
  margin: 0 auto
}

img {
  width: 100%;
  display: block;
  margin: 20px auto;
  filter: grayscale(1);
  opacity: .8
}

li,
p {
  font-family: "Degular Text", serif
}

ul>li {
  list-style: none;
  line-height: 1.5rem;
  margin: 20px 0
}

ul>li>ul {
  margin: 20px 0
}

ul>li>ul>li {
  line-height: 1.5rem;
  margin-top: 20px;
  list-style: none
}

.gist,
iframe {
  filter: grayscale(1)
}

[data-page="Website Index"] img {
  max-width: 200px;
  display: block;
  margin: 0 auto
}

[data-title="Website Index"],
[data-title=x220] {
  display: none
}

footer {
  border-top: 1px solid rgba(0, 0, 0, .05);
  margin-top: 40px;
  padding: 20px 0 40px 0;
  font-size: 14px;
  text-align: right
}
