@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700|Neuton:400,700");

:root{
    --background-color: #EDEAE5;
    --main-font: "Alegreya Sans", sans-serif;
    --secondary-font: "Neuton", serif;
    --third-font: "Menlo", monospace;
    --border-style: 2px solid rgba(0, 0, 0, .40);
    --border-style-hover: 3px solid rgba(0, 0, 0, .60);
    --max-width: 950px;
}

html, p {
    font-family: var(--third-font);
    -webkit-font-smoothing: antialiased;
    transition: ease-in-out;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: -0.2px;
}

.rm-highlight {
  background-color: hsl(51, 98%, 81%);
  margin: -2px;
  padding: 2px;
}

/* p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: -0.2px;
    text-align: left;
    font-family: var(--main-font);
    font-size: 16px;
    margin: 0.3em 0px 1.15em
} 
*/

ol,
ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem   
}

ol li,
ul li {
    line-height: 1.5rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
    margin-bottom: 0
}

blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

h1 {
    font-size: 22px;    
    text-align: left;
    color: rgb(23, 25, 28);
    margin: 4px 0px 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
}

h2 {
    font-size: 18px;
    text-align: left;
    color: rgb(23, 25, 28);
    margin: 0.1em 0px 0.4em;
    font-weight: 700;
    line-height: 1.55;
}

h3 {
    font-size: 18px;
    text-align: left;
    color: rgb(23, 25, 28);
    margin: 0.1em 0px 0.4em;
    font-weight: 700;
    line-height: 1.55;
}

h4 {
    font-size: .707rem
}

h5 {
    font-size: .4713333333333333rem
}

h6 {
    font-size: .3535rem
}

table {
    margin-top: 1.5rem;
    border-spacing: 0;
    border-collapse: collapse
}

table td,
table th {
    padding: 0;
    line-height: 33px
}

code {
    vertical-align: bottom
}

.lead {
    font-size: 1.414rem
}

.hug {
    margin-top: 0
}

body {
    background-color: var(--background-color);
    color: #3a3a3a!important
}

a {
    text-decoration: none !important;
    color: inherit;
    border-bottom: 2px solid rgb(94, 92, 112);
}

a:hover {
    border-bottom: 2px solid rgb(159, 156, 201);
}

pre {
    background: #f3f3f3;
    padding: 15px;
    white-space: pre-wrap;
}


code {
    background: #f3f3f3
}

.main,
article,
footer,
header {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative
}

.article {
    overflow-y: scroll;
}

img {
    width: 100%;
    display: block;
    margin: 20px auto;
    filter: grayscale(1);
    opacity: .8
}

ul>li {
    list-style: none;
    line-height: 1.5rem;
    margin: 20px 0;
    text-decoration: none;
    /* font-family: var(--third-font); */
}

ul>li>ul {
    margin: 20px 0
}

ul>li>ul>li {
    line-height: 1.5rem;
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
}

.gist,
iframe {
    filter: grayscale(1)
}

[data-page="Website Homepage"] img {
    max-width: 200px;
    display: block;
    margin: 0 auto
}

article[data-page="Website Homepage"]>ul {
    margin-top: 1.5rem !important;
}


[data-title="Website Homepage"],
[data-title=x220] {
    display: none
}

[data-page="CV"] ul>li>ul>li>ul{
    list-style: none;
    line-height: 0.5rem;
    text-decoration: none;
    font-family: var(--third-font);
    background-color: #f3f3f3;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

[data-page="CV"] ul>li>ul>li>ul>li{
    /* list-style: circle outside url('../dash.svg'); */
    text-decoration: none;
    display: list-item;
    margin: 0;
}


[data-page="CV"] ul>li>ul>li>ul>li>ul>li::before{
    content: "–"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}



footer {
    border-top: 1px solid rgba(0, 0, 0, .05);
    margin-top: 40px;
    padding: 20px 0 40px 0;
    font-size: 14px;
    font-family: var(--secondary-font);
    text-align: right
}

/*HEADER SPECIAL*/
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.header {
    display: flex;
    border-bottom: var(--border-style);
    flex-shrink: 0;
    /* display: inline-flex; */
    /* position: fixed;
    overflow: hidden; */
}

header>a {
    text-decoration: none
}


.container {
    width: 90%;
    max-width: 900px;
}

.logo img {
    width: 2.75rem;
    height: 2.75rem;
    /* margin-top: 20px;
    margin-bottom: 0px; */
}

.logo:hover {
    border: none !important;
}

.logo {
    border: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.list--nav{
    margin-top: 0;
    margin-bottom: 0;
}

.item--nav {
    display: inline-block;
    border-left: var(--border-style);
    padding: 0.5rem 1rem;
    font-size: 100%;
}

div[data-title] {
    position: sticky;
    top: 80px;
    background: none;
    -webkit-transform-origin: 0;
    -moz-transform-origin: 1 0;
    -ms-transform-origin: 1 0;
    -o-transform-origin: 1 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    width: calc(0.5 * var(--max-width));
    min-width: calc(var(--max-width) *0.5);
    text-align: center;
}

h2[data-title] {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    border-bottom: var(--border-style);
    text-align: center;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -68px
}

article[data-page] > ul {
    margin-top: -1.5rem;
}

.item--nav a{
    border: none;
}

.item--nav a:hover{
    border: none;
    font-weight: bold;
}

.graph-container {
    max-width: calc(var(--max-width) - 50px);
    height: 80vh;
    margin: auto;
  }

  @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

}
